body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFEBD6;
}

.header {
    list-style-type: none;
    margin: 0px 0px 80px 0px;
    padding: 0;
    overflow: hidden;
    background-color: #3F2734;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.logo{
  margin: 0px 10px 0 30em ;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 22px;
  color: white;
}
  
  /* Change the link color to light muave on hover */
li a:hover {
    background-color: #C19AAF;
}
/* programmer.png img placement  */
#programmer {

  display: inline-block;
  justify-content: left;
  width: 250px;
  height: 250px;
  
  
  

}
/* First div */

.letter {
  display: inline-block;
  font-stretch: semi-condensed;
  text-align: justify;
  justify-content: right;
  
}

  /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

#inspiration-quote {

  border: none;
  padding: 10px;
  border-radius: 2em;
  text-align: center;
  color: #3F2734;
  overflow: hidden;
  font-size: 30px;
  animation: quote 1s ease 0s 1 normal both;
}

#choices {
  background-color: #b1ede8;
}
.flex-container{
  display: flex;
  padding: 30px;
  height: 280px;

}
.flex-child {
  flex: 1;
  border-radius: 25px;
  text-align: center;

  
}
.flex-child:first-child {
  margin-right: 20px;
  border-radius: 25px;

} 
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.button-div button {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: #ebd6ff;
  border-radius: 25px;

}
.output-div {
  margin: 30px;
  padding: 20px;
  height: 200px;
  text-align: center;
  background-color: #ebd6ff;
  border-radius: 25px;
}
.about-us{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.about-div{
  margin: 30px;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  background-color: #24947f;
  display: flex;
}
.about-child{
  background-color: #b1ede8;
  margin: 30px;
  padding: 20px;
  flex: 1;
  border-radius: 25px;
  text-align: center;
}
.semi-footer{
  background-color: #985d7c;
  width: auto;
  display: flex;
  color:#985d7c;
  height: 250px;
  margin: 0;
  padding: 0;
}
.footer{
  background-color: #3f2734;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  color:white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#github{
  color:white;
}
@keyframes quote {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }