body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFEBD6;
}


#support{
  margin-left: 900px;
  margin-top: 120px;
  padding: 10px;
  text-align: center;
  background-color: #ebd6ff;
  border-radius: 25px;
  align-items: flex-end;
  

}
.header {
    list-style-type: none;
    margin: 0px 0px 80px 0px;
    padding: 0;
    height:160px;
    overflow: hidden;
    display: flex;
    background-color: #684356;
}
#intro{
  font-size: 40px;
}
#intro2{
  font-size: 35px;
}
#intro3{
  font-size: 25px;
}
li {
    display: inline-block;
}
img#testing{
  width: 40%;
}
#testing{
  width: 30%;
  align-items: center;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.logo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 22px;
  color: white;
}
#programmer1{
  width: 50%;
  margin-bottom: 50px;
}
  
  /* Change the link color to light muave on hover */
li a:hover {
    background-color: #C19AAF;
}
/* programmer.png img placement  */
#programmer {

  display: inline-block;
  justify-content: left;
  width: 100%;;
  height: 100%;
  
  
  

}
/* First div */

.letter {
  display: inline-block;
  font-stretch: semi-condensed;
  text-align: justify;
  justify-content: right;
  
}



#inspiration-quote {

  border: none;
  padding: 10px;
  border-radius: 2em;
  text-align: center;
  color: #3F2734;
  overflow: hidden;
  font-size: 30px;
  animation: quote 1s ease 0s 1 normal both;
}

#choices {
  background-color: #b1ede8;
}
.flex-container{
  display: flex;
  padding: 30px;
  height: 280px;

}
.flex-child {
  flex: 1;
  border-radius: 25px;
  text-align: center;

  
}
.flex-child:first-child {
  margin-right: 20px;
  border-radius: 25px;

} 
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.button-div button {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: #ebd6ff;
  border-radius: 25px;

}
.output-div {
  margin: 30px;
  padding: 20px;
  height: 200px;
  text-align: center;
  background-color: #ebd6ff;
  border-radius: 25px;
}
.about-us{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.about-div{
  margin: 30px;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  background-color: #24947f;
  display: flex;
}
.about-child{
  background-color: #b1ede8;
  margin: 30px;
  padding: 20px;
  flex: 1;
  border-radius: 25px;
  text-align: center;
}
.semi-footer{
  background-color: #985d7c;
  width: auto;
  display: flex;
  color:#985d7c;
  height: 250px;
  margin: 0;
  padding: 0;
}
.footer{
  background-color: #3f2734;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  color:white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#github{
  color:white;
}
@keyframes quote {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }